* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  ;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-image.jpg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  opacity: 0.8;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-message {
  color: #fff;
  text-shadow: black 2px 2px;
  min-width: 100%;
  min-height: 12em;
  position: relative;
}

.textbox-form {
  margin: 0 20%;

}

.title-font {
  font-family: 'Heebo',
    sans-serif;
}

.hero-title,
.event-title {
  font-family: 'Heebo',
    sans-serif;
}

.hero-sub-title,
.lead,
input,
select,
option {
  font-family: 'PT Sans',
    sans-serif;
}

.normal-font {
  font-family: 'PT Sans',
    sans-serif;
}

/* .event-hero-image {
  background: url(../images/events-hero1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: black 3px;
} */

.event-title,
.lead {
  color: #fff;
  text-shadow: black 2px 2px;
}

.search-box {
  /* background-color: linear-gradient(to bottom right, #272A41, #41445C); */
  background-color: #434342;
  border-radius: 15px;
  box-shadow: 0 10px 30px;
  border: solid black 1px;
}

.state-style {
  height: 50px;
}


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border: solid 1px #adb5bd;
  border-radius: 20px;

}

@media only screen and (max-width: 768px) {
  .card-img-top {
    height: 50vw
  }
}


.card-wrapper:hover {
  box-shadow: 4px 1px 10px 0px #adb5bd;
}

.jumbotron {
  margin-bottom: -85px;
}


.card {
  box-shadow: 4px 10px 10px 0px #adb5bd;
  background-color: #f8f9fa;
}

.roam-title {
  width: 100px;
}

